<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igbo Names & Culture</title>
    <link rel="stylesheet" href="../style.css">
    </head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <img src="logo.png" alt="logo">
                <a href="index.html">Home</a>
                <a href="templates\contribute.html">Contribute</a>
                <a href="templates\proverbs.html">Proverb of the Day</a>
                <a href="templates\games.html">Games</a>
                <a href="templates\learn.html">Learn</a>
                <a href="templates\blog.html">Blog</a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search Igbo names...">
                <button>Search</button>
            </div>
        </nav>
    </header>

       <!-- ABOUT US -->
       <section class="about">
        <div class="container">
        <h2>ABOUT US</h2>
        <div class="about-box">
            <div class="question">
                <p>This website www.myigboname.com is an initiative of The Afamefuna Project (TAP). It is a digital platform dedicated to celebrating the richness and beauty of Igbo names and culture. Our mission is to provide a comprehensive and authentic resource for individuals seeking to explore, understand, and cherish the significance of Igbo names within the context of their cultural heritage.</p>
            </div>
                <div class="question">
                <strong>Our Vision:</strong>
                <p>At www.myigboname.com, we envision a space where the diverse tapestry of Igbo identities is honored and celebrated. Through our platform, we aim to foster a deeper connection to Igbo traditions, creating a sense of pride and appreciation for the cultural nuances embedded in each name.</p>
        </div>
        <div class="question">
            <strong>What we Offer:</strong>
            <p><strong>- Name Meanings:</strong></p> 
            <p>Discover the profound meanings behind Igbo names, unraveling the cultural and historical significance.</p>
            <p><strong>- Cultural Insights:</strong></p> 
            <p>Explore articles and features that delve into various aspects of Igbo culture, traditions, and customs, providing a holistic understanding of this vibrant community.</p>
            <p><strong>- Name Generator:</strong></p> 
            <p>Embark on a journey to find the perfect Igbo name for yourself or your loved ones with our user-friendly name generator tool.</p>
        </div>
        <div class="question">
            <strong>Our Commitment:</strong>
            <p>At www.myigboname.com, we are committed to upholding the highest standards of accuracy, inclusivity, and cultural sensitivity in all our content. We strive to be a reliable source for individuals seeking authentic information about Igbo names and culture.</p>
        </div>
        <div class="question">
            <strong>Join Our Community:</strong>
            <p>We invite you to be an active part of our community. Share your thoughts, stories, and experiences related to Igbo names. Your engagement is crucial in enriching our content and fostering a vibrant online space that celebrates the beauty of Igbo identity.</p>
        </div>
        <div class="question">
            <p>Thank you for being a part of www.myigboname.com. Together, let's explore, learn, and celebrate the rich tapestry of Igbo names and culture.</p>
        </div>
        </div>
    </section>

<footer class="main-footer">
    <div class="container">
        <div class="left-content">
            <img src="logo.png" alt="logo">
            <h3 style="color: white;">The Afamefuna Project</h3>
            <div class="social-media">
                <a href="#"><img src="twitter.png" alt="Twitter"></a>
                <a href="#"><img src="pinterest.png" alt="Pinterest"></a>
                <a href="#"><img src="facebook.png" alt="Facebook"></a>
            </div>
            </div>
            <div class="right-content">
                <div class="links-group">
                    <a href="templates\about.html" style="color: white;">About Us</a>
                    <a href="templates\team.html" style="color: white;">The Team</a>
                    <a href="templates\contact.html" style="color: white;">Contact Us</a>
                    <a href="templates\faq.html" style="color: white;">FAQ</a>
                  </div>
                  <div class="links-group">
                    <a href="templates\privacy.html" style="color: white;">Privacy Policy</a>
                    <a href="templates\cookie.html" style="color: white;">Cookie Policy</a>
                    <a href="templates\editorial.html" style="color: white;">Editorial Policy</a>
                    <a href="templates\store.html" style="color: white;">Store</a>
                    </div>
                </div>
            </div>
        </footer>
</main>
</body>
</html>




