<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igbo Names & Culture</title>
    <link rel="stylesheet" href="../style.css">
    </head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <img src="..\logo.png" alt="logo">
                <a href="..\index.html">Home</a>
                <a href="contribute.html">Contribute</a>
                <a href="proverbs.html">Proverb of the Day</a>
                <a href="games.html">Games</a>
                <a href="learn.html">Learn</a>
                <a href="blog.html">Blog</a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search Igbo names...">
                <button>Search</button>
            </div>
        </nav>
    </header>

       <!-- FAQ -->
       <section class="faq">
        <div class="container">
        <h2>FAQ</h2>
        <div class="faq-box">
            <div class="question">
                <strong>What is it about?</strong>
                <p>The Afamefuna Project is a not for profit, open source, platform with interest in the area of Onomastics - particularly dedicated to curating, understanding, promoting Igbo names in fun relatable ways. This is why www.myigboname.com exists.</p>
        </div>
        <div class="question">
            <strong>"What have we done?"</strong>
            <p>We have over 3000 entries and more awaiting approval. The little passion project has grown from little beginnings but we haven’t done it alone. From culture enthusiasts, linguists, and every Emeka Okeke, community members have chipped in to bring the project this far. But it is still work in progress.</p>
        </div>
        <div class="question">
            <strong>"Can I work with you?"</strong>
            <p>Yes. We have worked in the past with undergraduates in the field of linguistics, we continue to encourage and appreciate the input of culture enthusiasts and linguists who may be willing to contribute new names or write articles for the blog. But we will also require the contributions of web developers and designers. Web developers who wish to contribute to the improvement of this platform may contact us using the contribute section.</p>
        </div>
        <div class="question">
            <strong>"Do you offer paid employment"</strong>
            <p>Unfortunately, we do not have the capacity to offer payment for services at this moment. We have in the past provided stipend for undergraduate who helped in the project but we cannot at this present moment.</p>
        </div>
        </div>
        </div>
    </section>

<footer class="main-footer">
    <div class="container">
        <div class="left-content">
            <img src="..\logo.png" alt="logo">
            <h3 style="color: white;">The Afamefuna Project</h3>
            <div class="social-media">
                <a href="#"><img src="..\twitter.png" alt="Twitter"></a>
                <a href="#"><img src="..\pinterest.png" alt="Pinterest"></a>
                <a href="#"><img src="..\facebook.png" alt="Facebook"></a>
            </div>
            </div>
            <div class="right-content">
                <div class="links-group">
                    <a href="about.html" style="color: white;">About Us</a>
                    <a href="team.html" style="color: white;">The Team</a>
                    <a href="contact.html" style="color: white;">Contact Us</a>
                    <a href="faq.html" style="color: white;">FAQ</a>
                  </div>
                  <div class="links-group">
                    <a href="privacy.html" style="color: white;">Privacy Policy</a>
                    <a href="cookie.html" style="color: white;">Cookie Policy</a>
                    <a href="editorial.html" style="color: white;">Editorial Policy</a>
                    <a href="store.html" style="color: white;">Store</a>
                    </div>
                </div>
            </div>
        </footer>
</main>
</body>
</html>




