<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igbo Names & Culture</title>
    <link rel="stylesheet" href="..\style.css">
    </head>
<body>
    <header>
        <nav>
            <div class="nav-links">
                <img src="..\logo.png" alt="logo">
                <a href="..\index.html">Home</a>
                <a href="contribute.html">Contribute</a>
                <a href="proverbs.html">Proverb of the Day</a>
                <a href="games.html">Games</a>
                <a href="learn.html">Learn</a>
                <a href="blog.html">Blog</a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search Igbo names...">
                <button>Search</button>
            </div>
        </nav>
    </header>

             <!-- Games -->
             <section class="card games">
                <h4 style="color: black; font-size: 1.25rem; font-family: 'Outfit', sans-serif">GAMES</h4>       
                <p style="color: black; font-size: 1rem; font-family: 'Outfit', sans-serif">Join your mates under the udala tree. Play games that help you learn Igbo names in a fun way</p>
                <div class="games-container">
                    <a href="kata_aha.html" class="game-card">
                        <div>
                            <img src="..\nkata_game.jpg" alt="Igbo Names Anagram">
                            <strong>Unscramble Names</strong>
                        </div>
                    </a>
                    <a href="get_named.html" class="game-card">
                        <div>
                            <img src="..\get_named.jpg" alt="Igbo name generator">
                            <strong>Get Named</strong>
                        </div>
                    </a>
                    <a href="igbo_names_puzzle.html" class="game-card">
                        <div>
                            <img src="puzzle_game.jpg" alt="Igbo Names Puzzle Game">
                            <p>Igbo Names Puzzle</p>
                        </div>
                    </a>
                </div>
            </section>  

<footer class="main-footer">
    <div class="container">
        <div class="left-content">
            <img src="..\logo.png" alt="logo">
            <h3 style="color: white;">The Afamefuna Project</h3>
            <div class="social-media">
                <a href="#"><img src="..\twitter.png" alt="Twitter"></a>
                <a href="#"><img src="..\pinterest.png" alt="Pinterest"></a>
                <a href="#"><img src="..\facebook.png" alt="Facebook"></a>
            </div>
            </div>
            <div class="right-content">
                <div class="links-group">
                    <a href="about.html" style="color: white;">About Us</a>
                    <a href="team.html" style="color: white;">The Team</a>
                    <a href="contact.html" style="color: white;">Contact Us</a>
                    <a href="faq.html" style="color: white;">FAQ</a>
                  </div>
                  <div class="links-group">
                    <a href="privacy.html" style="color: white;">Privacy Policy</a>
                    <a href="cookie.html" style="color: white;">Cookie Policy</a>
                    <a href="editorial.html" style="color: white;">Editorial Policy</a>
                    <a href="store.html" style="color: white;">Store</a>
                    </div>
                </div>
            </div>
        </footer>
</main>
</body>
</html>